<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Despre aplicație" styleClass="white" rendered="#{userBean.authenticated}">
            <h2>Catalog Evaluare Națională 2014</h2>
            <p>Aplicație de colectat date pentru evaluarea națională</p>
            <h2>Legal</h2>
            <p>
                Aplicația este licențiată pentru utilizare de către ISJ Covasna fără cost pe durata cooperarării între autor/ copyright-holder și instituție, sub licența GNU GPL V2 . 
            </p>
            <p>
                Copyright © 2013-2014 by Balázsi Szilárd
            </p>
            <h2>Tehnologii</h2>
            <p>
                Tehnologiile utilizate:
                <ul>
                    <li>
                        Tehnologia
                        <a target="_blank" href="http://www.oracle.com/technetwork/java/javaee/tech/index.html">JavaEE 6</a>
                    </li>
                    <li>
                        Facelet/GUI Framework
                        <a target="_blank" href="http://primefaces.org/">PrimeFaces</a>
                    </li>
                    <li>
                        Server de aplicație
                        <a target="_blank" href="http://glassfish.java.net/">GlassFish</a>
                    </li>
                    <li>
                        Server bază de date
                        <a target="_blank" href="http://mariadb.org/">MariaDB</a>
                    </li>
                    <li>
                        Server OS
                        <a target="_blank" href="http://www.debian.org/">Debian</a>
                    </li>
                    <li>
                        IDE
                        <a target="_blank" href="http://netbeans.org/">NetBeans</a>
                    </li>
                </ul>
            </p>
        </p:panel>
    </ui:define>
</ui:composition>
