<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                >

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Introducere date elev" styleClass="white" rendered="#{userBean.authenticated}">
            <p>
                <h:outputLabel for="cnpSearch" value="CNP: " />
                <p:inputMask value="#{elevAddBean.cnp}" id="cnpSearch" mask="9999999999999" size="13" style='font-size:1.2em; font-family: "Consolas","Courier New",monospace;'>
                    <f:validator validatorId="CNPValidator" />
                    <p:ajax event="blur" update="cnpSearch" />
                </p:inputMask>
            </p>
            <p>
                <p:commandButton value="Caută" actionListener="#{elevAddBean.searchElev}" update="extra" />
            </p>
        </p:panel>

        <p:panel id="extra" styleClass="spaced" rendered="#{userBean.authenticated}">

            <p:panel id="transferPanel" header="Transfer Elev" rendered="#{elevAddBean.askForTransfer}" styleClass="white">
                <p>
                    <h:outputText value="Elevul #{elevAddBean.elev.nume} #{elevAddBean.elev.ini} #{elevAddBean.elev.prenume} este înscris la #{elevAddBean.elev.unitate.unitateSuperioara.nume}. Apăsați butonul de mai jos pentru a transfera elevul la unitatea Dvs. Unitatea originală va fi notificată despre acest transfer." rendered="#{elevAddBean.elev.unitate.unitateSuperioara.sirues!=userBean.sirues}" />
                    <h:outputText value="Elevul #{elevAddBean.elev.nume} #{elevAddBean.elev.ini} #{elevAddBean.elev.prenume} este deja înscris la #{elevAddBean.elev.unitate.unitateSuperioara.nume}." rendered="#{elevAddBean.elev.unitate.unitateSuperioara.sirues==userBean.sirues}" />
                </p>
                <p>
                    <p:commandButton value="Transfer" actionListener="#{elevAddBean.doTransfer}" rendered="#{elevAddBean.elev.unitate.unitateSuperioara.sirues!=userBean.sirues}" update="extra" />
                </p>
            </p:panel>

            <p:panel id="addPanel" header="Adăugare Elev" rendered="#{elevAddBean.editingMode}" styleClass="white" >
                <h:panelGrid columns="2">
                    <h:outputLabel for="eNume" value="Numele:" />
                    <p:inputText value="#{elevAddBean.nume}" id="eNume" />

                    <h:outputLabel for="eIni" value="Inițiala:" />
                    <p:inputText value="#{elevAddBean.ini}" id="eIni" size="5" />

                    <h:outputLabel for="ePrenume" value="Prenumele:" />
                    <p:inputText value="#{elevAddBean.prenume}" id="ePrenume" />

                    <h:outputLabel for="eUnitate" value="Unitatea:" />
                    <h:selectOneMenu id="eUnitate" value="#{elevAddBean.unitate}" converter="unitateConverter">
                        <f:selectItems var="elevUnitate" itemLabel="#{elevUnitate.nume}" itemValue="#{elevUnitate}" value="#{unitateListerBean.ARList}" />
                    </h:selectOneMenu>

                    <h:outputLabel for="eSeria" value="Seria:" />
                    <h:selectOneMenu id="eSeria" value="#{elevAddBean.seria}" converter="seriaConverter">
                        <f:selectItems var="elevSeria" itemLabel="#{elevSeria.nume}" itemValue="#{elevSeria}" value="#{nomenclatorListerBean.seriaList}" />
                    </h:selectOneMenu>

                    <h:outputLabel for="eSectia" value="Secția:" />
                    <h:selectOneMenu id="eSectia" value="#{elevAddBean.sectia}" converter="sectiaConverter">
                        <f:selectItems var="elevSectia" itemLabel="#{elevSectia.nume}" itemValue="#{elevSectia}" value="#{nomenclatorListerBean.sectiaList}" />
                    </h:selectOneMenu>

                    <h:outputLabel for="eMediu" value="Mediul:" />
                    <h:selectOneMenu id="eMediu" value="#{elevAddBean.mediu}" converter="mediuConverter">
                        <f:selectItems var="elevMediu" itemLabel="#{elevMediu.nume}" itemValue="#{elevMediu}" value="#{nomenclatorListerBean.mediuList}" />
                    </h:selectOneMenu>

                </h:panelGrid>
                <p>
                    <p:commandButton value="Salvare" actionListener="#{elevAddBean.saveElev}" update="extra" />
                </p>
            </p:panel>
        </p:panel>

    </ui:define>

</ui:composition>
