<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content" >

        <p:panel id="contentPanel" header="Catalog" styleClass="white" rendered="#{userBean.CZE or userBean.ISJ}">
            <h2>Catalog de Notare</h2>
            <p>
                Fișiere Excel preformatate. Atenție au deja Header/Footer, verificați print-preview. Fișierele nu sunt protejate, formatați cum doriți.
            </p>
            <p>
                <h:commandLink action="#{exportBean.getCatalogNotare(0)}">
                    <h:outputText value="CATALOG DE NOTARE CENTRALIZAT" />
                </h:commandLink>
            </p>
            <p>
                <h:dataTable var="unitate" value="#{unitateListerBean.unitateByCZE}" style="text-align: left;">
                    <f:facet name="header">
                        Cataloage pe unități:
                    </f:facet>
                    <h:column>
                        <h:commandLink value="CATALOG #{unitate.nume}" action="#{exportBean.getCatalogNotare(unitate.sirues)}" />
                    </h:column>
                </h:dataTable>
            </p>
        </p:panel>

    </ui:define>

</ui:composition>
