<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Date personale" styleClass="white" rendered="#{userBean.authenticated}">

            <p:dataTable id="mainTable"
                         var="elev"
                         value="#{elevListerBean.elevList}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} rânduri pe pagină {CurrentPageReport}"  
                         rowsPerPageTemplate="10,25,50,75,100"
                         paginatorPosition="bottom"
                         rowKey="#{elev.cnp}"
                         emptyMessage="Nu există date"
                         sortMode="single"
                         lazy="true"
                         sortBy="#{elev.nume}"
                         sortOrder="ascending"
                         currentPageReportTemplate="({totalRecords} rânduri total) - pagina {currentPage} din {totalPages}"
                         pageLinks="5"
                         editable="true"
                         editMode="cell"
                         >

                <p:ajax event="cellEdit" listener="#{elevEditorBean.onCellEdit}" />

                <p:column sortBy="#{elev.cnp}" filterBy="#{elev.cnp}" filterMatchMode="contains">
                    <f:facet name="header">
                        CNP
                    </f:facet>
                    <h:outputText value="#{elev.cnp}" />
                </p:column>

                <p:column sortBy="#{elev.nume}" filterBy="#{elev.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Nume
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.nume}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{elev.nume}" /></f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column >
                    <f:facet name="header">
                        Ini
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.ini}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{elev.ini}" style="width:3em;" /></f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.prenume}" filterBy="#{elev.prenume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Prenume
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.prenume}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{elev.prenume}" /></f:facet>
                    </p:cellEditor>

                </p:column>

                <p:column sortBy="#{elev.unitate.nume}" filterBy="#{elev.unitate.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Unitatea
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.unitate.nume}" /></f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{elev.unitate}" converter="unitateConverter">
                                <f:selectItems var="elevUnitate" itemLabel="#{elevUnitate.nume}" itemValue="#{elevUnitate}" value="#{unitateListerBean.ARList}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>

                </p:column>

                <p:column sortBy="#{elev.seriaId.nume}" filterBy="#{elev.seriaId.nume}" filterMatchMode="contains">
                    <f:facet name="header">Seria</f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.seriaId.nume}" /></f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{elev.seriaId}" converter="seriaConverter">
                                <f:selectItems var="elevSeria" itemLabel="#{elevSeria.nume}" itemValue="#{elevSeria}" value="#{nomenclatorListerBean.seriaList}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.sectiaId.nume}" filterBy="#{elev.sectiaId.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Secția
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.sectiaId.nume}" /></f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{elev.sectiaId}" converter="sectiaConverter">
                                <f:selectItems var="elevSectia" itemLabel="#{elevSectia.nume}" itemValue="#{elevSectia}" value="#{nomenclatorListerBean.sectiaList}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.mediuId.nume}" filterBy="#{elev.mediuId.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Mediul
                    </f:facet>

                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{elev.mediuId.nume}" /></f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{elev.mediuId}" converter="mediuConverter">
                                <f:selectItems var="elevMediu" itemLabel="#{elevMediu.nume}" itemValue="#{elevMediu}" value="#{nomenclatorListerBean.mediuList}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>

                </p:column>
            </p:dataTable>
             <h:commandLink styleClass="spaced">  
                <h:outputText value="Export Excel" />
                <p:dataExporter type="xls" target="mainTable" fileName="exportDate"/>  
            </h:commandLink> 
        </p:panel>

        <ui:include src="WEB-INF/tableTips.xhtml" />

    </ui:define>

</ui:composition>
