<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                >

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Mesaj întâmpinare" styleClass="white" rendered="#{userBean.authenticated}">
            <h2>Bine ați venit!</h2>
            <p>
                Aplicația este în continuă dezvoltare, în prezent (versiunea 0.26) sunt accesibile următoarele funcționalități:
                <ul>
                    <li>Adăugare Elev</li>
                    <li>Transfer Elev între unități</li>
                    <li>Modificare date personale Elev</li>
                    <li>Modificare media V-VIII, statutul și înscrierea la EN</li>
                    <li>Import Excel media V-VIII, statut și starea înscrierii</li>
                    <li>Rapoarte statistice</li>
                    <li>Încărcarea prezenței de către centrele de examen</li>
                    <li>Centralizarea prezenței pe nivel de centru comunicare</li>
                    <li>încărcarea notelor de către centele de evaluare</li>
                    <li>Import Excel a notelor de către centele de evaluare</li>
                    <li>Export Excel de catalog Evaluare Națională</li>
                </ul>
            </p>
            <p>
                Aplicația va avea următoarele funcționalități, care sunt în curs de implementare/ testare:
                <ul>
                    <li>Manual de utilizare</li>
                </ul>
            </p>
        </p:panel>
        <p:panel id="contentPanel2" header="Mesaj întâmpinare" styleClass="white" rendered="#{!userBean.authenticated}">
            <h2>Bine ați venit!</h2>
            <p>
                Data și ora curentă: <p:clock pattern="dd.MM.yyyy ora HH:mm:ss" mode="server" />
            </p>
        </p:panel>
    </ui:define>

</ui:composition>
