<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Manual" styleClass="white" rendered="#{userBean.authenticated}">
            
        </p:panel>
    </ui:define>

</ui:composition>
