<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Noutăți" styleClass="white" rendered="#{userBean.authenticated}">
            <p:dataTable var="newsItem" value="#{newsListerBean.news}" emptyMessage="Nu s-au găsit înregistrări">
                <p:column>
                    <f:facet name="header">Data</f:facet>
                    <h:outputText value="#{newsItem.notificationDate}" />
                </p:column>
                <p:column>
                    <f:facet name="header">Mesaj</f:facet>
                    <h:outputText value="#{newsItem.notification}" />
                </p:column>
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
