<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Note înainte contestații" styleClass="white" rendered="#{userBean.CZE || userBean.ISJ}">
            <p:dataTable id="mainTable"
                         var="elev"
                         value="#{elevNoteListerBean.elevList}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} rânduri pe pagină {CurrentPageReport}"  
                         rowsPerPageTemplate="10,25,50,75,100"
                         paginatorPosition="bottom"
                         rowKey="#{elev.cnp}"
                         emptyMessage="Nu există date"
                         sortMode="single"
                         lazy="true"
                         sortBy="#{elev.nume}"
                         sortOrder="ascending"
                         currentPageReportTemplate="({totalRecords} rânduri total) - pagina {currentPage} din {totalPages}"
                         pageLinks="5"
                         editable="true"
                         editMode="cell"
                         >

                <p:ajax event="cellEdit" listener="#{notaICEditorBean.onCellEdit}" />

                <p:column sortBy="#{elev.cnp}" filterBy="#{elev.cnp}" filterMatchMode="contains">
                    <f:facet name="header">
                        CNP
                    </f:facet>
                    <h:outputText value="#{elev.cnp}" />
                </p:column>

                <p:column sortBy="#{elev.nume}" filterBy="#{elev.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Nume
                    </f:facet>
                    <h:outputText value="#{elev.nume}" />
                </p:column>

                <p:column style="width:2em;">
                    <f:facet name="header">
                        Ini
                    </f:facet>
                    <h:outputText value="#{elev.ini}" />
                </p:column>

                <p:column sortBy="#{elev.prenume}" filterBy="#{elev.prenume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Prenume
                    </f:facet>
                    <h:outputText value="#{elev.prenume}" />
                </p:column>

                <p:column sortBy="#{elev.unitate.nume}" filterBy="#{elev.unitate.nume}" filterMatchMode="contains" style="width:15em;">
                    <f:facet name="header">
                        Unitatea
                    </f:facet>
                    <h:outputText value="#{elev.unitate.nume}" />
                </p:column>

                <p:column sortBy="#{elev.sectiaId.nume}" filterBy="#{elev.sectiaId.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Secția
                    </f:facet>
                    <h:outputText value="#{elev.sectiaId.nume}" />
                </p:column>

                <p:column sortBy="#{elev.notaIcId.rom}" filterBy="#{elev.notaIcId.rom}" filterMatchMode="contains">
                    <f:facet name="header">
                        Limba română
                    </f:facet>

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.notaIcId.rom}" rendered="#{elev.prezentaId.rom.id==1}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </h:outputText>
                            <h:outputText value="#{elev.prezentaId.rom.nume}" rendered="#{elev.prezentaId.rom.id!=1}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{elev.notaIcId.rom}" validator="notaValidator" rendered="#{elev.prezentaId.rom.id==1}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </p:inputText>
                            <p:inputText value="#{elev.prezentaId.rom.nume}" readonly="true" rendered="#{elev.prezentaId.rom.id!=1}" />

                        </f:facet>
                    </p:cellEditor>
                </p:column>



                <p:column sortBy="#{elev.notaIcId.mag}" filterBy="#{elev.notaIcId.mag}" filterMatchMode="contains">
                    <f:facet name="header">
                        Limba maternă
                    </f:facet>
                    <p:cellEditor  >
                        <f:facet name="output">
                            <h:outputText value="#{elev.notaIcId.mag}" rendered="#{elev.sectiaId.id==1 and elev.prezentaId.mag.id==1}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </h:outputText>
                            <h:outputText value="-" rendered="#{elev.sectiaId.id!=1}"/>
                            <h:outputText value="#{elev.prezentaId.mat.nume}" rendered="#{elev.sectiaId.id==1 and elev.prezentaId.mag.id!=1}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{elev.notaIcId.mag}" validator="notaValidator" rendered="#{elev.sectiaId.id==1 and elev.prezentaId.mag.id==1}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </p:inputText>
                            <p:inputText value="-" rendered="#{elev.sectiaId.id!=1 or elev.prezentaId.mag.id!=1}" readonly="true"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.notaIcId.mat}" filterBy="#{elev.notaIcId.mat}" filterMatchMode="contains">
                    <f:facet name="header">
                        Matematică
                    </f:facet>

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.notaIcId.mat}" rendered="#{elev.prezentaId.mat.id==1}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </h:outputText>
                            <h:outputText value="#{elev.prezentaId.mat.nume}" rendered="#{elev.prezentaId.mat.id!=1}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{elev.notaIcId.mat}" validator="notaValidator" rendered="#{elev.prezentaId.mat.id==1}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </p:inputText>
                            <p:inputText value="#{elev.prezentaId.mat.nume}" readonly="true" rendered="#{elev.prezentaId.mat.id!=1}" />

                        </f:facet>
                    </p:cellEditor>
                </p:column>


            </p:dataTable>
        </p:panel>
        <p:panel header="Import Excel" styleClass="spaced white" rendered="#{userBean.ISJ or userBean.CZE}">
            <p>
                Dacă nu doriți să completați în direct tabelul de mai sus, aveți posibilitatea de import din Excel. Completați 
                <h:commandLink action="#{exportBean.getNotaIcMacheta}">
                    <h:outputText value="macheta"/>
                </h:commandLink>
                și încărcați-l în aplicație
            </p>
            <p>
                Vor fi citite doar coloanele E,L,M,N (cnp,rom,mag,mat). Rândurile pot fi reordonate/filtrate pe plac aplicația lucrează pe bază de CNP. Tabelul poate modifica EXCLUSIV notele așadar orice alte modificări din tabel vor fi ignorate. Media va fi calculată de către aplicație în momentul încărcării.
            </p>
            <p>
                <h:form enctype="multipart/form-data" prependId="false">
                    <p:fileUpload fileUploadListener="#{importBean.handleNoteIcFileUpload}"
                                  mode="advanced"
                                  allowTypes="/(\.|\/)(xls)$/"
                                  label="Încarcă Fișier"
                                  invalidFileMessage="Format invalid, se acceptă doar fișiere excel 2003"
                                  auto="true"
                                  update=":contentForm:contentPanel"
                                  />
                </h:form>
            </p>
        </p:panel>

    </ui:define>

</ui:composition>
