<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Schimbare parolă" styleClass="white" rendered="#{userBean.authenticated}">
            <h2>Schimbare parolă</h2>
            <h:panelGrid columns="2">
                <h:outputLabel value="Parola nouă:" for="newpassword1" />
                <p:password id="newpassword1" value="#{userBean.newpassword1}" feedback="true"
                            promptLabel="Introduceți o parolă"
                            weakLabel="Parolă slabă"
                            goodLabel="Parolă bună"
                            strongLabel="Parolă puternică"
                            />
                <h:outputLabel value="Parola nouă (din nou):" for="newpassword2" />
                <p:password id="newpassword2" value="#{userBean.newpassword2}" />
            </h:panelGrid>
            <p>
                <p:commandButton value="Salvează" actionListener="#{userBean.doChangePassword}" update=":menuForm :contentForm" />
            </p>
        </p:panel>
    </ui:define>

</ui:composition>
