<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Prezența" styleClass="white" rendered="#{userBean.authenticated}">
            <p:dataTable id="mainTable"
                         var="elev"
                         value="#{elevPrezentaListerBean.elevList}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} rânduri pe pagină {CurrentPageReport}"  
                         rowsPerPageTemplate="10,25,50,75,100"
                         paginatorPosition="bottom"
                         rowKey="#{elev.cnp}"
                         emptyMessage="Nu există date"
                         sortMode="single"
                         lazy="true"
                         sortBy="#{elev.nume}"
                         sortOrder="ascending"
                         currentPageReportTemplate="({totalRecords} rânduri total) - pagina {currentPage} din {totalPages}"
                         pageLinks="5"
                         editable="true"
                         editMode="cell"
                         >

                <p:ajax event="cellEdit" listener="#{prezentaEditorBean.onCellEdit}" />

                <p:column sortBy="#{elev.cnp}" filterBy="#{elev.cnp}" filterMatchMode="contains">
                    <f:facet name="header">
                        CNP
                    </f:facet>
                    <h:outputText value="#{elev.cnp}" />
                </p:column>

                <p:column sortBy="#{elev.nume}" filterBy="#{elev.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Nume
                    </f:facet>
                    <h:outputText value="#{elev.nume}" />
                </p:column>

                <p:column style="width:2em;" >
                    <f:facet name="header">
                        Ini
                    </f:facet>
                    <h:outputText value="#{elev.ini}" />
                </p:column>

                <p:column sortBy="#{elev.prenume}" filterBy="#{elev.prenume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Prenume
                    </f:facet>
                    <h:outputText value="#{elev.prenume}" />
                </p:column>

                <p:column sortBy="#{elev.unitate.nume}" filterBy="#{elev.unitate.nume}" filterMatchMode="contains" style="width:20em;">
                    <f:facet name="header">
                        Unitatea
                    </f:facet>
                    <h:outputText value="#{elev.unitate.nume}" />
                </p:column>

                <p:column sortBy="#{elev.sectiaId.nume}" filterBy="#{elev.sectiaId.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Secția
                    </f:facet>
                    <h:outputText value="#{elev.sectiaId.nume}" />
                </p:column>

                <p:column sortBy="#{elev.prezentaId.rom.nume}" filterBy="#{elev.prezentaId.rom.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Limba română
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.prezentaId.rom.nume}">
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <f:facet name="input">
                                <h:selectOneMenu value="#{elev.prezentaId.rom}" converter="starePrezentaConverter">
                                    <f:selectItems var="elevStare" itemLabel="#{elevStare.nume}" itemValue="#{elevStare}" value="#{nomenclatorListerBean.starePrezentaList}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.prezentaId.mag.nume}" filterBy="#{elev.prezentaId.mag.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Limba maternă
                    </f:facet>
                    <p:cellEditor rendered="#{elev.sectiaId.id==1}">
                        <f:facet name="output">
                            <h:outputText value="#{elev.prezentaId.mag.nume}">
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                                <h:selectOneMenu value="#{elev.prezentaId.mag}" converter="starePrezentaConverter">
                                    <f:selectItems var="elevStare" itemLabel="#{elevStare.nume}" itemValue="#{elevStare}" value="#{nomenclatorListerBean.starePrezentaList}" />
                                </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                    <p:cellEditor rendered="#{elev.sectiaId.id!=1}" >
                        <f:facet name="output">
                            <h:outputText value="-">
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="-"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.prezentaId.mat.nume}" filterBy="#{elev.prezentaId.mat.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Matematică
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.prezentaId.mat.nume}">
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <f:facet name="input">
                                <h:selectOneMenu value="#{elev.prezentaId.mat}" converter="starePrezentaConverter">
                                    <f:selectItems var="elevStare" itemLabel="#{elevStare.nume}" itemValue="#{elevStare}" value="#{nomenclatorListerBean.starePrezentaList}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column sortBy="#{elev.prezentaId.final1.nume}" filterBy="#{elev.prezentaId.final1.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Stare Finală
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.prezentaId.final1.nume}">
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <f:facet name="input">
                                <h:selectOneMenu value="#{elev.prezentaId.final1}" converter="starePrezentaConverter">
                                    <f:selectItems var="elevStare" itemLabel="#{elevStare.nume}" itemValue="#{elevStare}" value="#{nomenclatorListerBean.starePrezentaList}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
