<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content" >
        <p:panel header="Raport Înscriși" styleClass="white" rendered="#{userBean.authenticated}">
            <p:dataTable id="reportTable" var="stat" value="#{raportInscrieriBean.raport}" resizableColumns="true">
                <f:facet name="header">
                    Starea sintetică a înscrierilor
                </f:facet>

                <p:column style="width:30em;">
                    <f:facet name="header">
                        Unitatea
                    </f:facet>
                    <h:outputText value="#{stat.unitate}" styleClass="nobr"/>
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Total elevi în DB
                    </f:facet>
                    <h:outputText value="#{stat.total}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Seria curentă
                    </f:facet>
                    <h:outputText value="#{stat.curent}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Transferați în alte unități
                    </f:facet>
                    <h:outputText value="#{stat.transfer}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Repetenți
                    </f:facet>
                    <h:outputText value="#{stat.repetenti}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Corigenți
                    </f:facet>
                    <h:outputText value="#{stat.corigenti}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Situație neîncheiată
                    </f:facet>
                    <h:outputText value="#{stat.neincheiat}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Abandon
                    </f:facet>
                    <h:outputText value="#{stat.abandon}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Promovați
                    </f:facet>
                    <h:outputText value="#{stat.promovati}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Promovați înscriși la EN
                    </f:facet>
                    <h:outputText value="#{stat.promoInscrisi}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Promovati neînscriși la EN
                    </f:facet>
                    <h:outputText value="#{stat.promoNeinscrisi}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Înscriși din serii anterioare
                    </f:facet>
                    <h:outputText value="#{stat.anterior}" />
                </p:column>

                <p:column styleClass="wrap">
                    <f:facet name="header">
                        Necompletat
                    </f:facet>
                    <h:outputText value="#{stat.necompletat}" />
                </p:column>

            </p:dataTable>

            <h:commandLink styleClass="spaced">  
                <h:outputText value="Export Excel" />
                <p:dataExporter type="xls" target="reportTable" fileName="raport"/>  
            </h:commandLink> 

        </p:panel>
    </ui:define>

</ui:composition>
