<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Raport note" styleClass="white" rendered="#{userBean.ISJ}">
            <h2>Statistică pe tranșe de medii înainte contestații</h2>
            <ul style="line-height: 2em;">
                <li>
                    <h:commandLink value="Limba Română" action="#{exportBean.getRaportCNEERom}"/>
                </li>
                <li>
                    <h:commandLink value="Limba Maternă" action="#{exportBean.getRaportCNEEMag}"/>
                </li>
                <li>
                    <h:commandLink value="Matematică" action="#{exportBean.getRaportCNEEMat}"/>
                </li>
                <li>
                    <h:commandLink value="Situația Finală" action="#{exportBean.getRaportCNEEMedia}"/>
                </li>
            </ul>
            
            <h2>Statistică pe tranșe de medii după contestații</h2>
            <ul style="line-height: 2em;">
                <li>
                    <h:commandLink value="Limba Română" action="#{exportBean.getRaportCNEERomDc}"/>
                </li>
                <li>
                    <h:commandLink value="Limba Maternă" action="#{exportBean.getRaportCNEEMagDc}"/>
                </li>
                <li>
                    <h:commandLink value="Matematică" action="#{exportBean.getRaportCNEEMatDc}"/>
                </li>
                <li>
                    <h:commandLink value="Situația Finală" action="#{exportBean.getRaportCNEEMediaDc}"/>
                </li>
            </ul>
        </p:panel>
    </ui:define>

</ui:composition>
