<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Raport note" styleClass="white" rendered="#{userBean.CZE or userBean.ISJ}">
            <h2>Statistică pe tranșe de medii</h2>
            <ul style="line-height: 2em;">
                <li>
                    <h:commandLink value="Limba Română" action="#{exportBean.getRaportNoteRom}"/>
                </li>
                <li>
                    <h:commandLink value="Limba Maternă" action="#{exportBean.getRaportNoteMag}"/>
                </li>
                <li>
                    <h:commandLink value="Matematică" action="#{exportBean.getRaportNoteMat}"/>
                </li>
                <li>
                    <h:commandLink value="Situația Finală" action="#{exportBean.getRaportNoteMedia}"/>
                </li>
            </ul>
        </p:panel>
    </ui:define>

</ui:composition>
