<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Rețea" styleClass="white" rendered="#{userBean.authenticated}">
            <p:dataTable
                var="unitate"
                value="#{unitateListerBean.unitateList}"
                paginator="true"
                rows="10"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} rânduri pe pagină {CurrentPageReport}"  
                rowsPerPageTemplate="10,25,50,75,100"
                paginatorPosition="bottom"
                rowKey="#{unitate.sirues}"
                emptyMessage="Nu există date"
                sortMode="single"
                lazy="true"
                sortBy="#{unitate.nume}"
                sortOrder="ascending"
                currentPageReportTemplate="({totalRecords} rânduri total) - pagina {currentPage} din {totalPages}"
                pageLinks="5"
                editable="true"
                editMode="cell"
                >

                <p:ajax event="cellEdit" listener="#{unitateEditorBean.onCellEdit}" />

                <p:column sortBy="#{unitate.sirues}" filterBy="#{unitate.sirues}" filterMatchMode="contains">
                    <f:facet name="header">
                        Sirues
                    </f:facet>
                    <h:outputText value="#{unitate.sirues}" />
                </p:column>

                <p:column sortBy="#{unitate.nume}" filterBy="#{unitate.nume}" filterMatchMode="contains" style="width: 30em;">
                    <f:facet name="header">
                        Nume
                    </f:facet>
                    
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{unitate.nume}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{unitate.nume}" style="width:100%;" />
                        </f:facet>
                    </p:cellEditor>
                    
                    
                </p:column>

                <p:column sortBy="#{unitate.isPj}" filterBy="#{unitate.isPj}" filterOptions="#{nomenclatorListerBean.daNuList}">
                    <f:facet name="header">
                        Personalitate Juridică
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{unitate.isPj}" converter="booleanConverter" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{unitate.isPj}" converter="booleanConverter" style="width:100%;">
                                <f:selectItem itemLabel="Da" itemValue="#{true}"/>
                                <f:selectItem itemLabel="Nu" itemValue="#{false}"/>
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column sortBy="#{unitate.isCentruComunicare}" filterBy="#{unitate.isCentruComunicare}" filterOptions="#{nomenclatorListerBean.daNuList}">
                    <f:facet name="header">
                        Centru Comunicații
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{unitate.isCentruComunicare}" converter="booleanConverter" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{unitate.isCentruComunicare}" converter="booleanConverter" style="width:100%;">
                                <f:selectItem itemLabel="Da" itemValue="#{true}"/>
                                <f:selectItem itemLabel="Nu" itemValue="#{false}"/>
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{unitate.isCentruEvaluare}" filterBy="#{unitate.isCentruEvaluare}" filterOptions="#{nomenclatorListerBean.daNuList}">
                    <f:facet name="header">
                        Centru Evaluare
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{unitate.isCentruEvaluare}" converter="booleanConverter" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{unitate.isCentruEvaluare}" converter="booleanConverter" style="width:100%;">
                                <f:selectItem itemLabel="Da" itemValue="#{true}"/>
                                <f:selectItem itemLabel="Nu" itemValue="#{false}"/>
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{unitate.isCentruContestatii}" filterBy="#{unitate.isCentruContestatii}" filterOptions="#{nomenclatorListerBean.daNuList}">
                    <f:facet name="header">
                        Centru Contestații
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{unitate.isCentruContestatii}" converter="booleanConverter" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{unitate.isCentruContestatii}" converter="booleanConverter" style="width:100%;">
                                <f:selectItem itemLabel="Da" itemValue="#{true}"/>
                                <f:selectItem itemLabel="Nu" itemValue="#{false}"/>
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
