<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                >

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Stare Clasa a VIII-a" styleClass="white" rendered="#{userBean.authenticated}">
            <p:dataTable id="mainTable"
                         var="elev"
                         value="#{elevListerBean.elevList}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} rânduri pe pagină {CurrentPageReport}"  
                         rowsPerPageTemplate="10,25,50,75,100"
                         paginatorPosition="bottom"
                         rowKey="#{elev.cnp}"
                         emptyMessage="Nu există date"
                         sortMode="single"
                         lazy="true"
                         sortBy="#{elev.nume}"
                         sortOrder="ascending"
                         currentPageReportTemplate="({totalRecords} rânduri total) - pagina {currentPage} din {totalPages}"
                         pageLinks="5"
                         editable="true"
                         editMode="cell"
                         >

                <p:ajax event="cellEdit" listener="#{mediaEditorBean.onCellEdit}" />

                <p:column sortBy="#{elev.cnp}" filterBy="#{elev.cnp}" filterMatchMode="contains">
                    <f:facet name="header">
                        CNP
                    </f:facet>
                    <h:outputText value="#{elev.cnp}" />
                </p:column>

                <p:column sortBy="#{elev.nume}" filterBy="#{elev.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Nume
                    </f:facet>
                    <h:outputText value="#{elev.nume}" />
                </p:column>

                <p:column style="width: 1em;">
                    <f:facet name="header">
                        Ini
                    </f:facet>
                    <h:outputText value="#{elev.ini}" />
                </p:column>

                <p:column sortBy="#{elev.prenume}" filterBy="#{elev.prenume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Prenume
                    </f:facet>
                    <h:outputText value="#{elev.prenume}" />
                </p:column>

                <p:column sortBy="#{elev.unitate.nume}" filterBy="#{elev.unitate.nume}" filterMatchMode="contains" style="width: 20em;">
                    <f:facet name="header">
                        Unitatea
                    </f:facet>
                    <h:outputText value="#{elev.unitate.nume}" />
                </p:column>

                <p:column sortBy="#{elev.sectiaId.nume}" filterBy="#{elev.sectiaId.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Secția
                    </f:facet>
                    <h:outputText value="#{elev.sectiaId.nume}" />
                </p:column>

                <p:column filterBy="#{elev.media58Id.inscris}" sortBy="#{elev.media58Id.inscris}" filterOptions="#{nomenclatorListerBean.daNuList}">
                    <f:facet name="header">
                        Înscris la EN
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.media58Id.inscris}" converter="booleanConverter" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{elev.media58Id.inscris}" converter="booleanConverter">
                                <f:selectItem itemLabel="Da" itemValue="#{true}"/>
                                <f:selectItem itemLabel="Nu" itemValue="#{false}"/>
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.media58Id.media}" filterBy="#{elev.media58Id.media}" filterMatchMode="contains">
                    <f:facet name="header">
                        Media V-VIII
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.media58Id.media}">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{elev.media58Id.media}" validator="notaValidator">
                                <f:convertNumber type="number" pattern="#0.00"/> 
                            </p:inputText>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column sortBy="#{elev.media58Id.stareId.nume}" filterBy="#{elev.media58Id.stareId.nume}" filterMatchMode="contains">
                    <f:facet name="header">
                        Statut
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{elev.media58Id.stareId.nume}">
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input">
                            <f:facet name="input">
                                <h:selectOneMenu value="#{elev.media58Id.stareId}" converter="stareConverter">
                                    <f:selectItems var="elevStare" itemLabel="#{elevStare.nume}" itemValue="#{elevStare}" value="#{nomenclatorListerBean.stareList}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

            </p:dataTable>
        </p:panel>

        <ui:include src="WEB-INF/tableTips.xhtml" />

        <p:panel header="Import Excel" styleClass="spaced white" rendered="#{userBean.authenticated}">
            <p>
                Dacă nu doriți să completați în direct tabelul de mai sus, aveți posibilitatea de import din Excel. Completați 
                <h:outputLink value="resources/templates/macheta58.xls">
                    <h:outputText value="macheta"/>
                </h:outputLink> 
                și încărcați-l în aplicație
            </p>
            <p>
                <h:form enctype="multipart/form-data" prependId="false">
                    <p:fileUpload fileUploadListener="#{importBean.handleFileUpload}"
                                  mode="advanced"
                                  allowTypes="/(\.|\/)(xls)$/"
                                  label="Încarcă Fișier"
                                  invalidFileMessage="Format invalid, se acceptă doar fișiere excel 2003"
                                  auto="true"
                                  update=":contentForm:contentPanel"
                                  />
                </h:form>
            </p>
        </p:panel>

    </ui:define>

</ui:composition>
