<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content" >
        <p:panel id="contentPanel" header="Schimbare parolă unități" styleClass="white" rendered="#{userBean.ISJ}">
            <p:dataTable id="usersTable" 
                         var="users"
                         value="#{userListerBean.usersList}"
                         paginator="true"
                         rows="10"
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} rânduri pe pagină {CurrentPageReport}"  
                         rowsPerPageTemplate="10,25,50,75,100"
                         paginatorPosition="bottom"
                         rowKey="#{users.id}"
                         emptyMessage="Nu există date"
                         sortMode="single"
                         lazy="true"
                         sortBy="#{users.name}"
                         sortOrder="ascending"
                         currentPageReportTemplate="({totalRecords} rânduri total) - pagina {currentPage} din {totalPages}"
                         pageLinks="5"
                         editable="true"
                         editMode="cell"
                         >

                <p:ajax event="cellEdit" listener="#{usersEditorBean.onCellEdit}" />

                <p:column sortBy="#{users.name}" filterBy="#{users.name}" filterMatchMode="contains">
                    <f:facet name="header">
                        Nume
                    </f:facet>

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{users.name}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{users.name}" style="width:100%;" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column sortBy="#{users.unitate.nume}" filterBy="#{users.unitate.nume}" filterMatchMode="contains" style="width: 30em;">
                    <f:facet name="header">
                        Unitatea
                    </f:facet>

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{users.unitate.nume}" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{users.unitate}" converter="unitateConverter">
                                <f:selectItems var="usersUnitate" itemLabel="#{usersUnitate.nume}" itemValue="#{usersUnitate}" value="#{unitateListerBean.PJList}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        Parola
                    </f:facet>

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="secret" />
                        </f:facet>
                        <f:facet name="input">
                            <p:password value="#{users.password}" style="width:100%;" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
