.headertext {
    font-size:1.6em;
    vertical-align: middle;
    padding:5px;
}

.white {
    background:white;
}

.spaced {
    margin-top:2em;
}

th.ui-filter-column input.ui-inputfield {
    width:95%;
}

tr.ui-datatable-odd {
    background:#fff;
}

.ajaxloader {
    position:fixed;
    right:10px;
    bottom:10px;
}

.wrap span {
    white-space: normal;
}

.nobr {
    white-space: normal;
}