<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"

                xmlns:p="http://primefaces.org/ui">

    <p:panel id="loginPanel" header="Autentificare"  rendered="#{!userBean.authenticated}" styleClass="white">
        <h:form id="loginForm" prependId="false">
            <h:outputLabel value="Nume utilizator:" for="username" />
            <p:inputText id="username" value="#{userBean.userName}" />
            <h:outputLabel value="Parola:" for="password" />
            <p:password id="password" value="#{userBean.password}" />
            <p:commandButton value="Autentificare" actionListener="#{userBean.doLogin}" update=":menuForm :contentForm" />
        </h:form>
    </p:panel>

</ui:composition>
