<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css" />
        <h:outputStylesheet library="css" name="cssLayout.css" />
        <title>Catalog Evaluare Națională</title>
    </h:head>

    <f:view>
        <p:idleMonitor timeout="600000">
            <p:ajax event="idle" listener="#{userBean.doLogout}" oncomplete="window.location='index.xhtml'" />
        </p:idleMonitor>
        <h:body id="body">
            <p:ajaxStatus styleClass="ajaxloader" id="ajaxStatusPanel">  
                <f:facet name="start">  
                    <h:graphicImage name="ajaxloader.gif" library="img" />  
                </f:facet>  

                <f:facet name="complete">  
                    <h:outputText value="" />  
                </f:facet>  
            </p:ajaxStatus>

            <div id="top" class="top ui-widget ui-widget-header ui-corner-all">
                <ui:include src="header.xhtml" />
            </div>

            <div id="menu">
                <h:form id="menuForm" prependId="false">
                    <ui:include src="menubar.xhtml" />
                    <ui:include src="login.xhtml" />
                </h:form>
            </div>

            <div id="content" class="center_content">
                <h:form id="contentForm">
                    <p:messages autoUpdate="true" showDetail="true" id="messages" />
                    <ui:insert name="content">Content</ui:insert>
                </h:form>
            </div>

        </h:body>
    </f:view>
</html>
