<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"

                xmlns:p="http://primefaces.org/ui">
    <p:menubar id="menubar" rendered="#{userBean.authenticated}">
        <p:submenu label="Utilizator"  icon="ui-icon-locked">
            <p:menuitem value="Schimbare parolă" icon="ui-icon-key" url="passchange.xhtml" />
            <p:menuitem actionListener="#{userBean.doLogout}" value="Ieșire" icon="ui-icon-close" update=":menuForm :contentForm" oncomplete="window.location='index.xhtml'" />
        </p:submenu>
        
        <p:submenu label="Administrare"  icon="ui-icon-wrench" rendered="#{userBean.ISJ}">
            <p:menuitem value="Utilizatori" icon="ui-icon-person" url="users.xhtml" />
            <p:menuitem value="Unități" icon="ui-icon-home" url="retea.xhtml" />
            <p:menuitem value="Centre" icon="ui-icon-flag" url="centre.xhtml" />
        </p:submenu>
        
        <p:submenu label="Elevi"  icon="ui-icon-person" rendered="#{!userBean.CZE}">
            <p:menuitem value="Adăugare" icon="ui-icon-circlesmall-plus" url="addelev.xhtml" />
            <p:menuitem value="Date Personale" icon="ui-icon-contact" url="date.xhtml" />
            <p:menuitem value="Stare clasa a VIII-a" icon="ui-icon-folder-open" url="stare58.xhtml" />
            <p:menuitem value="Prezență EN" icon="ui-icon-clock" url="prezenta.xhtml"/>
            <p:menuitem value="Export Date Elevi" icon="ui-icon-calculator" action="#{exportBean.getDBDump}" ajax="false" rendered="#{userBean.ISJ}"/>
        </p:submenu>
        <p:submenu label="Centru Comunicare"  icon="ui-icon-signal-diag" rendered="#{userBean.CC || userBean.ISJ}">
            <p:menuitem value="CC Prezență Română" icon="ui-icon-calculator" action="#{exportBean.getRaportCCPrezentaRom()}" ajax="false" rendered="#{userBean.authenticated}"/>
            <p:menuitem value="CC Prezență Maternă" icon="ui-icon-calculator" action="#{exportBean.getRaportCCPrezentaMag()}" ajax="false" rendered="#{userBean.authenticated}"/>
            <p:menuitem value="CC Prezență Mate." icon="ui-icon-calculator" action="#{exportBean.getRaportCCPrezentaMat()}" ajax="false" rendered="#{userBean.authenticated}"/>
        </p:submenu>
        <p:submenu label="Centru Evaluare"  icon="ui-icon-clipboard" rendered="#{userBean.CZE || userBean.ISJ}">
            <p:menuitem value="Note EN" icon="ui-icon-pencil" url="note_ic.xhtml"/>
            <p:menuitem value="Contestații" icon="ui-icon-pencil" url="note_dc.xhtml"/>
            <p:menuitem value="Catalog" icon="ui-icon-note" url="catalog.xhtml" rendered="#{userBean.CZE || userBean.ISJ}"/>
            <p:menuitem value="Raport Note" icon="ui-icon-calculator" url="raport_note.xhtml" rendered="#{userBean.CZE or userBean.ISJ}"/>
            <p:menuitem value="Raport CNEE" icon="ui-icon-calculator" url="raport_cnee.xhtml" rendered="#{userBean.ISJ}"/>

        </p:submenu>
        <p:submenu label="Rapoarte"  icon="ui-icon-script" rendered="#{!userBean.CZE}">
            <p:menuitem value="Înscrieri" icon="ui-icon-note" url="raport_insc.xhtml"/>
            <p:menuitem value="Prezență Română" icon="ui-icon-calculator" action="#{exportBean.getRaportPrezentaRom()}" ajax="false" rendered="#{userBean.authenticated}"/>
            <p:menuitem value="Prezență Maternă" icon="ui-icon-calculator" action="#{exportBean.getRaportPrezentaMag()}" ajax="false" rendered="#{userBean.authenticated}"/>
            <p:menuitem value="Prezență Matematică" icon="ui-icon-calculator" action="#{exportBean.getRaportPrezentaMat()}" ajax="false" rendered="#{userBean.authenticated}"/>
        </p:submenu>
        <p:menuitem value="Noutăți" icon="ui-icon-mail-closed" url="news.xhtml" rendered="#{!userBean.CZE}" />
        <p:submenu label="Ajutor"  icon="ui-icon-help">
            <p:menuitem value="Manual" icon="ui-icon-note" url="manual.xhtml" rendered="false" />
            <p:menuitem value="Despre Aplicație" icon="ui-icon-info" url="about.xhtml" />
        </p:submenu>
    </p:menubar>

</ui:composition>
