<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"

                xmlns:p="http://primefaces.org/ui">
    <p:panel header="Știați că ..." styleClass="spaced white" rendered="#{userBean.authenticated}">
        <ul>
            <li>Tabelul se poate ordona: dați clic pe iconița pe lângă denumirile din capul de tabel pentru a ordona tabelul după acea coloană, ascendent. Pentru a ordona descendent, dați clic din nou.</li>
            <li>Tabelul se poate filtra: introduceți o parte sau în totalitate fraza după care doriți să filtrați în căsuța din capul de tabel.</li>
            <li>Tabelul se poate filtra după mai multe criterii. De exemplu daca doriți să vedeți lista tuturor elevilor de secția română din localitatea Baraolt, scrieți "baraolt" la unitate și "ro" la secția.</li>
            <li>Tabelul se poate parcurge mult mai rapid folosind tastatura: folosiți tasta TAB pentru a sări între celule</li>
            <li>Tabelul se poate înlărgi să arate mai multe rânduri. Implicit arată doar 10 rânduri dar poate fi extins până la 100 folosind lista din subsolul tabelului</li>
            <li>În timpul editării, selecția din liste se poate efectua foarte rapid prin apăsarea primei litere al opțiunii dorite. De exemplu dacă doriți să selectați mediul rural, apăsați pe tasta R și "Rural" se va auto-selecta</li>
            <li>Salvarea datelor se face automat pe fiecare celulă în parte, când deselectați celula editată.</li>
        </ul>
    </p:panel>
</ui:composition>
